<div class="login-container">
  <div class="left-section">
      <h1 class="heading-main">A few more clicks to sign in to your account.</h1>
  </div>
  <div class="right-section">
      <div class="sign-in-card">
          <div class="logo">
              <img src="./images/logo-icon.svg" alt="LiteJira Logo">
          </div>
          
          <h2 class="title">Sign In to LiteJira</h2>
          <p class="subtitle">Manage your projects efficiently</p>
          
          <form [formGroup]="authForm" >
              <div class="form-group">
                <app-lite-box  field="username" Caption="UserName" [Isnum]="'text'" [formGroup]="authForm" [IsReq]="true" [maxLen]="20"></app-lite-box>

              </div>
              <div class="form-group">
                <app-lite-box  field="password" Caption="Password" [Isnum]="'password'" [formGroup]="authForm" [IsReq]="true" [maxLen]="20"></app-lite-box>

              </div>
              <div class="options">
                <app-lite-checkbox [formGroup]="authForm"Caption="Remember Me"field="remember_me"></app-lite-checkbox>
                 <a href="#" routerLink="/authentication/forgot-password" class="d-inline-block text-daxa forgot-password">Forgot password?</a>
              </div>
              <button type="submit" class="sign-in-btn" [disabled]="authForm.invalid" (click)="login()">
                  Sign In
              </button>
          </form>
      </div>
  </div>
</div>
	            

