<div [formGroup]="formGroup" class="custom-editor">
    <label class="editor-label d-block lh-1 text-dark">
      {{ Caption }}
      <span style="color:red" title="required" *ngIf="IsReq">*</span>
    </label>
  
    <div class="NgxEditor__Wrapper">
      <ng-container *ngIf="editor">
        <ngx-editor-menu [editor]="editor" [toolbar]="toolbar"></ngx-editor-menu>
        <ngx-editor [editor]="editor" [formControlName]="field" (ngModelChange)="setValue($event)"></ngx-editor>
      </ng-container>
    </div>
  
    <mat-error *ngIf="IsReq && hasError('required')">{{ Caption }} is required.</mat-error>
  </div>
  