<mat-card class="main-card border-radius bg-white border-none d-block">
    <mat-card-header>
        <mat-card-title>
            <h5 class="mb-0">Create New Company</h5>
        </mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <form [formGroup]="companyDetailsGroup">
            <div class="row">
                <!-- Left Side: Company Details -->
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <app-lite-box [formGroup]="companyDetailsGroup" field="company_name" Caption="Company Name" [Isnum]="'text'" [IsReq]="true" [maxLen]="20"></app-lite-box>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <lite-date-picker [formGroup]="companyDetailsGroup" field="date_of_establishment" [Caption]="'Select a Date'" [IsReq]="true" [selectionType]="'single'"></lite-date-picker>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <app-lite-box [formGroup]="companyDetailsGroup" field="zipcode" Caption="ZipCode" [Isnum]="'text'" [IsReq]="true" [maxLen]="8"></app-lite-box>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="mb-10">
                                <lite-ddl [formGroup]="companyDetailsGroup" field="country" [Caption]="'Select country'"[IsReq]="true"  [options]="countryList">                                 
                                </lite-ddl>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <lite-ddl [formGroup]="companyDetailsGroup" field="state" [Caption]="'Select State'"[IsReq]="true"   [options]="stateList">                                 
                                </lite-ddl>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <lite-ddl [formGroup]="companyDetailsGroup" field="city" [Caption]="'Select city'"[IsReq]="true"  [options]="cityList">                                 
                                </lite-ddl>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <app-lite-box [formGroup]="companyDetailsGroup" field="company_email" Caption="Business Email" [Isnum]="'text'" [IsReq]="true" [maxLen]="50"></app-lite-box>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <app-lite-box [formGroup]="companyDetailsGroup" field="company_phone" Caption="Business Contact" [Isnum]="'text'" [IsReq]="true" [maxLen]="50"></app-lite-box>
                            </div>
                        </div>
                        
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <app-lite-box [formGroup]="companyDetailsGroup" field="pan" Caption="PAN" [Isnum]="'text'" [IsReq]="true" [maxLen]="50"></app-lite-box>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="mb-10">
                                <app-lite-box [formGroup]="companyDetailsGroup" field="website" Caption="Website" [Isnum]="'text'" [IsReq]="true" [maxLen]="100"></app-lite-box>
                            </div>
                        </div>
                        <div class="col-sm-16">
                            <div class="mb-25">
                                <lite-editor [formGroup]="companyDetailsGroup" field="company_description" Caption="Company Description" [IsReq]="true"></lite-editor>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="col-lg-4 d-flex flex-column justify-content-between">
                    <div class="mb-25">
                        <app-lite-file-uploader [formGroup]="companyDetailsGroup" field="company_logo" [multiple]="false" accept="image/*"></app-lite-file-uploader>
                        <lite-textarea [formGroup]="companyDetailsGroup" field="address" Caption="Address" [IsReq]="true" ></lite-textarea>

                    </div>
                    <div class="mb-25">
                    </div>
                </div>
                <!-- <div class="col-lg-4 d-flex flex-column justify-content-between">
                    <div class="mb-25">
                        <lite-textarea [formGroup]="company_details_group" field="address" Caption="Address" [IsReq]="true" ></lite-textarea>
                    </div>
                </div> -->
               
            </div>
            
            <!-- Buttons Section -->
            <div class="btn-box text-end mt-3">
                <button mat-button class="me-2">Cancel</button>
                <button mat-flat-button color="primary" (click)="saveCompanyDetails()">Save</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
